{{! //--------HBS CREATE.HBS------- }}
<!-- component -->
<body class="font-mono bg-green-200">
		<!-- Container -->
		<div class="container mx-auto">
			<div class="flex justify-center my-8">
				<!-- Row -->
				<div class="w-full xl:w-3/4 lg:w-11/12 flex">
					<!-- Col -->
					<div
						class="w-full h-auto bg-gray-400 hidden lg:block lg:w-5/12 bg-cover rounded-l-lg"
						style="background-image: url('https://source.unsplash.com/Mv9hjnEUHR4/600x800')"
					></div>
					<!-- Col -->
					<div class="w-full lg:w-7/12 bg-white p-5 rounded-lg lg:rounded-l-none">
						<h3 class="pt-4 text-2xl text-center">Agrega Tu NFT 🌮</h3>
						<form action="/nfts/create" method="POST" class="px-8 pt-6 pb-8 mb-4 bg-white rounded">
							<div class="mb-4 md:flex md:justify-between">
								<div class="mb-4 md:mr-2 md:mb-0">
									<label class="block mb-2 text-sm font-bold text-gray-700" for="nftTitle">
										Titulo del NFT:
									</label>
									<input
                    name="nftTitle"
										class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
										id="nftTitle"
										type="text"
										placeholder="META TACO"
									/>
								</div>
								<div class="md:ml-2">
									<label class="block mb-2 text-sm font-bold text-gray-700" for="nftPrice">
										Precio ($IHC):
									</label>
									<input
                    name="nftPrice"
										class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
										id="nftPrice"
										type="text"
										placeholder="20.00"
									/>
								</div>
							</div>
							<div class="mb-4">
								<label class="block mb-2 text-sm font-bold text-gray-700" for="shortDescription">
									Descripción: 
								</label>
                <textarea 
                class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                name="shortDescription" 
                rows="1" 
                cols="50"
                id="shortDescription"
                >Único en su clase, MexaPan fue diseñado por uno de los mejores artistas digitales mexicanos.
                </textarea>
							</div>
              
								<div class="mb-4 md:mr-2 md:mb-0">
									<label class="block mb-2 text-sm font-bold text-gray-700" for="nftImage">
										Imagen URL del NFT 
									</label>
									<input
                    name="nftImage"
										class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border border-pink-500 rounded shadow appearance-none focus:outline-none focus:shadow-outline"
										id="nftImage"
										type="text"
										placeholder="https://i.ibb.co/qksM7Bb/Mexapan.jpg"
									/>
								</div>

								<div style="padding-bottom: 15px;" class="border-pink-500 md:ml-2">
									<label class="border-pink-500 block mb-2 text-sm font-bold text-gray-700" for="nftUsername">
										Usuario:
									</label>
                  <select class="border-pink-500" name="nftUsername">
                    <option class="border-pink-500" disable selected value="">--Seleccionar 🌮--</option>
                    <option value="{{data._id}}"> {{data.userName}} </option>
                  </select>
								</div>

              <div class="mb-4 md:flex md:justify-between">
                <div class="mb-4 md:mr-2 md:mb-0">
									<label class="block mb-2 text-sm font-bold text-gray-700" for="nftHashTag">
										#Hashtag:
									</label>
									<input
                    name="nftHashTag"
										class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border border-pink-500 rounded shadow appearance-none focus:outline-none focus:shadow-outline"
										id="nftHashTag"
										type="text"
										placeholder="TACO"
									/>
								</div>
                <div class="mb-4 md:mr-2 md:mb-0">
									<label class="block mb-2 text-sm font-bold text-gray-700" for="nftHashTag">
										#Hashtag:
									</label>
									<input
                    name="nftHashTag"
										class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border border-red-500 rounded shadow appearance-none focus:outline-none focus:shadow-outline"
										id="nftHashTag"
										type="text"
										placeholder="MyTaco"
									/>
								</div>
                <div class="mb-4 md:mr-2 md:mb-0">
									<label class="block mb-2 text-sm font-bold text-gray-700" for="nftHashTag">
										#Hashtag:
									</label>
									<input
                    name="nftHashTag"
										class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border border-red-500 rounded shadow appearance-none focus:outline-none focus:shadow-outline"
										id="nftHashTag"
										type="text"
										placeholder="Taquito"
									/>
								</div>
              </div>
							
							<div class="mb-6 text-center">
								<button
									class="w-full px-4 py-2 font-bold text-white bg-pink-500 rounded-full hover:bg-pink-700 focus:outline-none focus:shadow-outline"
									type="submit"
								>
									GENERA TU NFT
								</button>
								{{#if msg}}
								<p class="text-red-400"> {{msg}} </p>
								{{/if}}
            
						</div>
							<hr class="mb-6 border-t" />

							<div class="text-center">
								<a
									class="inline-block text-sm text-pink-500 align-baseline hover:text-pink-800"
									href="/nfts/my-nfts"
								>
									Mis NFTs
								</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>