

    <!--Hero-->
<body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">  
    <div class="pt-24">
      <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <!--Left Col-->
        <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
          <p class="uppercase tracking-loose w-full">¿Sabes que es un NFT?</p>
          <h1 class="my-4 text-5xl font-bold leading-tight">
            Tampoco tu vecino, ni el 98% de la Población Mundial!
          </h1>
          <p class="uppercase tracking-loose w-full">
              Explora la cultura mexicana de forma digital! 
          </p>
          <button style="background-color: #d2458a" class="mx-auto lg:mx-0 hover:underline text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
            <a href="/nfts">EXPLORAR! 🌮</a>
          </button>
        </div>
        <!--Right Col-->
        <div class="w-full md:w-3/5 py-6 text-center">
          <img class="w-full md:w-4/5 z-50" src="https://cdn.pixabay.com/photo/2020/10/13/11/44/taco-5651624_1280.png" />
        </div>
      </div>
    </div>
    <div class="relative -mt-12 lg:-mt-24">
      <svg viewBox="0 0 1428 174" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-2.000000, 44.000000)" fill="#FFFFFF" fill-rule="nonzero">
            <path d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496" opacity="0.100000001"></path>
            <path
              d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
              opacity="0.100000001"
            ></path>
            <path d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z" id="Path-4" opacity="0.200000003"></path>
          </g>
          <g transform="translate(-4.000000, 76.000000)" fill="#FFFFFF" fill-rule="nonzero">
            <path
              d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z"
            ></path>
          </g>
        </g>
      </svg>
    </div>
    <section class="bg-white border-b py-8">
      {{!-- Section de que es nft con dos imagenes --}}
      <div class="container max-w-5xl mx-auto m-8">
        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
          ¿Qué es un NFT?
        </h1>
        <div class="w-full mb-4">
          <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
        <div class="flex flex-wrap">
          <div class="w-5/6 sm:w-1/2 p-6">
            <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
              NFT o Non Fungible Token
            </h3>
            <p class="text-gray-600 mb-8">
              Un token no fungible o vale no fungible es un tipo especial de token criptográfico que representa algo único. Las cuatro principales características de los NFT es que son únicos, indivisibles, transferibles y con la capacidad de demostrar su escasez. En pocas palabras un NFT, es un token o vale digital que es único e irrepetible, básicamente se define como <b style="color: #d2458a"> un coleccionable digital que es verificado por medio de una cadena de bloques (blockchain)</b>, para que un video, imagen, película, canción, audio, URL o cualquier otro tipo de archivo digital, pueda autenticarse o catalogarse como “original”.
              <br />
              <br />

              Articulo Original:
              <a style="color: #d2458a" class="underline" href="https://latam.kaspersky.com/blog/que-es-un-nft/22918/">latam.kaspersky.com</a>
            </p>
          </div>
          <div class="w-full sm:w-1/2 p-6">
              <img src="https://artwizard.eu/articles_images/bda1a2a2d1333fcaf720eaaa4310c468Title%20image%20NFT.gif" alt="nftimage" >
          </div>
        </div>
        <div class="flex flex-wrap flex-col-reverse sm:flex-row">
          <div class="w-full sm:w-1/2 p-6 mt-6">
              <img src="https://static01.nyt.com/images/2021/03/11/arts/11nft-explain-1/11nft-explain-1-mediumSquareAt3X.jpg" alt="nftimage" >
          </div>
          <div class="w-full sm:w-1/2 p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
                ¿Entonces que es un NFT?
              </h3>
              <p class="text-gray-600 mb-8">
                En Derecho, el término <b style="color: #d2458a">fungible se refiere a cosas o bienes que son intercambiables y deben consumirse para su uso.</b> Sin embargo, si existe algo que no sea fungible, quiere decir que tiene unas propiedades únicas, por lo que no puede ser intercambiado, reemplazado o copiado. ¿Todavía un poco confundido sobre qué estamos hablando? Está bien, trataremos de explicarlo de forma más fácil.
                <br>
                <br>
                Supongamos que eres fan de un pintor famoso de tu país y próximamente se celebrará una subasta de sus pinturas originales. La persona que ofrezca la mayor cantidad de dinero será la poseedora de las pinturas originales, y por más que curiosos, piratas o comerciantes repliquen las pinturas para ganar algo de dinero con sus ventas, <b style="color: #d2458a"> ninguna será “la original”, es decir, nunca habrá sido pintada en el mismo lienzo que la original, </b> ni con los mismas utensilios, mezcla de colores o pinceles que la original, ni tendrá los detalles, olores, textura o características que la hicieron inicialmente llamativa... 
                <br />
                <br />
                Seguir leyendo:
                <a style="color: #d2458a" class="underline" href="https://latam.kaspersky.com/blog/que-es-un-nft/22918/">latam.kaspersky.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-white border-b py-8">
      <div class="container mx-auto flex flex-wrap pt-4 pb-12">
        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
          NFT's CON MAYOR VALOR
        </h1>
        <div class="w-full mb-4">
          <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
        
        <div style="background-color: #41B493" class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
          <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
            <a href="/auth/signup" class="flex flex-wrap no-underline hover:no-underline">
              <p class="pt-8 w-full text-gray-600 text-xs md:text-sm px-6">
                <img src="https://i.ibb.co/qksM7Bb/Mexapan.jpg" alt="algonft"> 
              </p>
              <div class="pt-5 w-full font-bold text-xl text-justify text-gray-800 px-6">
                Único en su clase, <em style="color: #0a7557"> MexaPan </em> fue diseñado por uno de los mejores artistas digitales mexicanos.
              </div>
              <p class="text-center pt-8 text-base px-6 mb-5">
               <b class="text-center" style="color: #0a7557"> $IHC: 5,000.00 </b>
              </p>
            </a>
          </div>
          <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
            <div  class="flex items-center justify-center">
             <a href="/auth/signup"> <button style="background-color: #d2458a" class="mx-auto lg:mx-0 hover:underline  text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none  transition hover:scale-105 duration-300 ease-in-out">
                $COMPRAR
              </button></a>
            </div>
          </div>
        </div>
        
        <div style="background-color: #41B493" class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
          <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
            <a href="/auth/signup" class="flex flex-wrap no-underline hover:no-underline">
              <p class="pt-8 w-full text-gray-600 text-xs md:text-sm px-6">
                <img src="https://i.ibb.co/fqhr2HF/Mexa-Con-Todo.jpg" alt="algonft"> 
              </p>
              <div class="pt-5 w-full font-bold text-xl text-justify text-gray-800 px-6">
                 Único en su clase, <em style="color: #0a7557"> MexaConTodoPorfavor </em> fue diseñado por uno de los mejores artistas digitales mexicanos.
              </div>
              <p class="pt-8 text-gray-800 text-base px-6 mb-5">
                <b class="text-center" style="color: #0a7557">$IHC: 3,100.00 </b>
              </p>
            </a>
          </div>
          <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
            <div  class="flex items-center justify-center">
             <a href="/auth/signup"> <button style="background-color: #d2458a" class="mx-auto lg:mx-0 hover:underline  text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none  transition hover:scale-105 duration-300 ease-in-out">
                $COMPRAR
              </button></a>
            </div>
          </div>
        </div>

        <div style="background-color: #41B493" class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
          <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
            <a href="/auth/signup" class="flex flex-wrap no-underline hover:no-underline">
              <p class="pt-8 w-full text-gray-600 text-xs md:text-sm px-6">
                <img src="https://i.ibb.co/ScbRFqD/Mexataco.jpg" alt="algonft"> 
              </p>
              <div class="pt-5 w-full font-bold text-xl text-justify text-gray-800 px-6">
                Único en su clase, <em style="color: #0a7557"> MexaSudado </em> fue diseñado por uno de los mejores artistas digitales mexicanos.
              </div>
              <p class="pt-8 text-gray-800 text-base px-6 mb-5">
                <b class="text-center" style="color: #0a7557">$IHC: 9,959.00 </b>
              </p>
            </a>
          </div>
          <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
            <div  class="flex items-center justify-center">
              <a href="/auth/signup"> <button style="background-color: #d2458a" class="mx-auto lg:mx-0 hover:underline  text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none  transition hover:scale-105 duration-300 ease-in-out">
                $COMPRAR
              </button></a>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- Change the colour #f8fafc to match the previous section colour -->
    <svg class="wave-top" viewBox="0 0 1439 147" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-1.000000, -14.000000)" fill-rule="nonzero">
          <g class="wave" fill="#f8fafc">
            <path
              d="M1440,84 C1383.555,64.3 1342.555,51.3 1317,45 C1259.5,30.824 1206.707,25.526 1169,22 C1129.711,18.326 1044.426,18.475 980,22 C954.25,23.409 922.25,26.742 884,32 C845.122,37.787 818.455,42.121 804,45 C776.833,50.41 728.136,61.77 713,65 C660.023,76.309 621.544,87.729 584,94 C517.525,105.104 484.525,106.438 429,108 C379.49,106.484 342.823,104.484 319,102 C278.571,97.783 231.737,88.736 205,84 C154.629,75.076 86.296,57.743 0,32 L0,0 L1440,0 L1440,84 Z"
            ></path>
          </g>
          <g transform="translate(1.000000, 15.000000)" fill="#FFFFFF">
            <g transform="translate(719.500000, 68.500000) rotate(-180.000000) translate(-719.500000, -68.500000) ">
              <path d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496" opacity="0.100000001"></path>
              <path
                d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
                opacity="0.100000001"
              ></path>
              <path d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z" opacity="0.200000003"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
    <section class="container mx-auto text-center py-6 mb-12">
      <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-white">
        GALERÍA DE NFTs! 🌮
      </h1>
      <div class="w-full mb-4">
        <div class="h-1 mx-auto bg-white w-1/6 opacity-25 my-0 py-0 rounded-t"></div>
      </div>
      <h3 class="my-4 text-3xl leading-tight">
        DELEITATE EN EL SABOR MEXICANO DE FORMA DIGITAL!
      </h3>
      <a href="/nfts"><button style="background-color: #d2458a" class="mx-auto lg:mx-0 hover:underline  text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none  transition hover:scale-105 duration-300 ease-in-out">
        EXPLORAR
      </button></a>
    </section>


</body>      
    <!-- jQuery if you need it
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  -->
    <script>
      var scrollpos = window.scrollY;
      var header = document.getElementById("header");
      var navcontent = document.getElementById("nav-content");
      var navaction = document.getElementById("navAction");
      var brandname = document.getElementById("brandname");
      var toToggle = document.querySelectorAll(".toggleColour");

      document.addEventListener("scroll", function () {
        /*Apply classes for slide in bar*/
        scrollpos = window.scrollY;

        if (scrollpos > 10) {
          header.classList.add("bg-white");
          navaction.classList.remove("bg-white");
          navaction.classList.add("gradient");
          navaction.classList.remove("text-gray-800");
          navaction.classList.add("text-white");
          //Use to switch toggleColour colours
          for (var i = 0; i < toToggle.length; i++) {
            toToggle[i].classList.add("text-gray-800");
            toToggle[i].classList.remove("text-white");
          }
          header.classList.add("shadow");
          navcontent.classList.remove("bg-gray-100");
          navcontent.classList.add("bg-white");
        } else {
          header.classList.remove("bg-white");
          navaction.classList.remove("gradient");
          navaction.classList.add("bg-white");
          navaction.classList.remove("text-white");
          navaction.classList.add("text-gray-800");
          //Use to switch toggleColour colours
          for (var i = 0; i < toToggle.length; i++) {
            toToggle[i].classList.add("text-white");
            toToggle[i].classList.remove("text-gray-800");
          }

          header.classList.remove("shadow");
          navcontent.classList.remove("bg-white");
          navcontent.classList.add("bg-gray-100");
        }
      });
    </script>
    <script>
      /*Toggle dropdown list*/
      /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

      var navMenuDiv = document.getElementById("nav-content");
      var navMenu = document.getElementById("nav-toggle");

      document.onclick = check;
      function check(e) {
        var target = (e && e.target) || (event && event.srcElement);

        //Nav Menu
        if (!checkParent(target, navMenuDiv)) {
          // click NOT on the menu
          if (checkParent(target, navMenu)) {
            // click on the link
            if (navMenuDiv.classList.contains("hidden")) {
              navMenuDiv.classList.remove("hidden");
            } else {
              navMenuDiv.classList.add("hidden");
            }
          } else {
            // click both outside link and outside menu, hide menu
            navMenuDiv.classList.add("hidden");
          }
        }
      }
      function checkParent(t, elm) {
        while (t.parentNode) {
          if (t == elm) {
            return true;
          }
          t = t.parentNode;
        }
        return false;
      }
    </script>
